<% provide(:title, 'Aktualności') %>

<section class="aktualnosci">

  <article class="well">
    <h2><b>27.08.2014</b> Planowany terminarz na rok akad. 2014/15</h2>
    <p>Semestr III:
    <ul>
      <li>24, 25, 26.10.2024
      <li>14, 15, 16.11.2014
      <li>28, 29, 30.11.2014
      <li>19, 20, 21.12.2014
      <li>16, 17, 18.01.2015
    </ul>
    <p>Semestr I: (jeżeli edycja się rozpocznie)
    <ul>
      <li>17, 18, 19.10.2014
      <li> 7,  8,  9. 11.11.2014
      <li>21, 22, 23,11.2014
      <li>12, 13, 14.12.2014
      <li> 9, 10, 11.01.2015
    </ul>

    <h2><b>16.10.2014</b> Terminarz na rok akad. 2013/14</h2>
    <p>Plany i daty zjazdów w semestrze:
    <ul>
      <li><%=link_to "zimowym i letnim", terminarz_05_path %> (edycja P501-05)
      <li><%=link_to "zimowym", terminarz_04_path %> (edycja P501-04)
    </ul>
  </article>

  <article class="well">
    <h2>Nowa edycja PSPI 2014</h2>
    <p>Otwieramy nabór na kolejną edycję studiów, która rozpocznie
    się w Październiku 2014.
    Rekrutacja odbywa się elektronicznie w systemie Rejestracji Kandydatów na stronie internetowej https://podyplomowi.irk.ug.edu.pl.
    Zainteresowanych prosimy jednak o kontakt z sekretariatem PSPI.</p>
  </article>

<!--
  <article class="well">
    <h2>Zaczynamy!</h2>
    <p>Rozpoczęcie nowej edycji PSPI odbędzie się <b>26.10.2012</b>
    o godzinie 13:00 w sali Rady Wydziału (sala 4) Mat-Fiz-Inf,
    Uniwersytetu Gdańskiego, Wita Stwosza 57.
    <p>Prosimy o dostarczenie do sekretariatu PSPI niezbędnych dokumentów.
    Wpłaty czesnego należy dokonywać na indywidualne konto, którego numer
    każdy z uczestników otrzyma (otrzymał). Prosimy również o zachowanie
    i dostarczenie do sekretariatu kopii dowodu wpłaty.
    <p>Aktualne terminy zjazdów w semestrze zimowym 2012/2013
    są <%=link_to "tutaj", terminarz_04_path %>.
  </article>

  <article class="well">
    <h2><b>16.06.2012</b> Nowa edycja PSPI</h2>
    <p>Rozpoczynamy nabór na pierwsze wydanie nowej edycji PSPI.
    Edycję planujemy uruchomić w październiku 2012 pod warunkiem
    skompletowania odpowiedniej liczby kandydatów.
  </article>

  <article class="well">
    <h2><b>15.06.2012</b> Zmiany w ramowym planie studiów</h2>
    <p>W czerwcu 2012 uległ zmianie <%=link_to "ramowy plan studiów", program_path %>.
    Rozwój technologii informatycznych wymusił wprowadzenie zmian
    w dotychczasowym programie.
  </article>

  <article class="well">
    <h2><b>15.06.2012</b> Zmiany w kadrze nauczycieli</h2>
    <p>W czerwcu zmieniło się kierownictwo i zmieniła dotychczasowa
    kadra nauczycieli.
  </article>
-->

</section>
