<% provide(:title, 'Aktualności') %>

<section class="aktualnosci">

  <article class="well">
    <h2>Nowa edycja PSPI na rok akad. 2016/2017</h2>
    <p>Otwieramy nabór na kolejną edycję studiów, która rozpocznie się w <b>październiku 2016</b>.
    Rekrutacja odbywa się elektronicznie na stronie
    <a href="https://podyplomowi.irk.ug.edu.pl">Internetowej Rejestracji Kandydatów – studia podyplomowe</a>.
    <br>
    Zainteresowanych prosimy jednak o kontakt z sekretariatem PSPI.</p>
  </article>

  <article class="well">
    <h2>Planowany terminarz zajęć na rok akad. 2016/2017</h2>
    <p>Semestr III (P501-07):
    <ul>
      <li> 7,  8,  9.10.2016
      <li>28, 29, 30.10.2016
      <li>18, 19, 20.11.2016
      <li> 9, 10, 11.12.2016
      <li>13, 14, 15.01.2017
    </ul>

    <p>Semestr I (P501-08):
    <ul>
      <li>21, 22, 23.10.2016
      <li> 4,  5,  6.11.2016
      <li>25, 26, 27.11.2016
      <li>16, 17, 18.12.2016
      <li>20, 21, 22.01.2017
    </ul>

    <h2> Szczegółowy terminarz na rok akad. 2015/2016</h2>
    <p>Plany i daty zjazdów w semestrze:
    <ul>
      <li><%=link_to "zimowym 2015/2016", terminarz_06_path %> (edycja P501-06)
      <li><%=link_to "zimowym 2015/2016", terminarz_07_path %> (edycja P501-07)
    </ul>
  </article>

</section>
