<% provide(:title, 'Aktualnosci') %>

<section class="aktualnosci">

  <article class="well">
    <h2>[16.06.2012] Zaczynamy!</h2>
    <p>Donec id elit non mi porta gravida at eget
    metus. Fusce dapibus, tellus ac cursus commodo, tortor
    mauris condimentum nibh, ut fermentum massa justo sit
    amet risus. Etiam porta sem malesuada magna mollis
    euismod. Donec sed odio dui.
  </article>

  <article class="well">
    <h2>[15.06.2012] Więcej informacji na jakiś temat</h2>
    <p>Donec id elit non mi porta gravida at eget
    metus. Fusce dapibus, tellus ac cursus commodo, tortor
    mauris condimentum nibh, ut fermentum massa justo sit
    amet risus. Etiam porta sem malesuada magna mollis
    euismod. Donec sed odio dui.
  </article>

</section>
