<% provide(:title, 'Aktualności') %>

<section class="aktualnosci">

  <article class="well">
    <h2>Nowa edycja PSPI na rok akad. 2017/2018</h2>
    <p>Otwieramy nabór na kolejną edycję studiów, która rozpocznie się w <b>27 października 2017</b>.
    Rekrutacja odbywa się elektronicznie na stronie
    <a href="https://podyplomowi.irk.ug.edu.pl">Internetowej Rejestracji Kandydatów – studia podyplomowe</a>.
    <br>
    Zainteresowanych prosimy jednak o kontakt z sekretariatem PSPI.</p>
  </article>

  <article class="well">
    <h2>Planowany terminarz zajęć na rok akad. 2017/2018</h2>
    <p>Semestr I (P501-09):
    <ul>
      <li>27, 28, 29.10.2017
      <li>17, 18, 19.11.2017
      <li> 8,  9, 10.12.2017
      <li>12, 13, 14.01.2018
      <li>26, 27, 28.01.2018
    </ul>

    <p>Semestr III (P501-08):
    <ul>
      <li>13, 14, 15.10.2017
      <li> 3,  4,  5.10.2017
      <li>24, 25, 26.11.2017
      <li>15, 16, 17.12.2017
      <li>19, 20, 21.01.2018
    </ul>

    <h2> Szczegółowy terminarz na rok akad. 2017/2018</h2>
    <p>Plany i daty zjazdów w semestrze:
    <ul>
      <li><%=link_to "zimowym 2017/2018", terminarz_08_path %> (edycja P501-08)
      <li><%=link_to "zimowym 2017/2018", terminarz_09_path %> (edycja P501-09)
    </ul>
  </article>

</section>
