<% provide(:title, 'Aktualności') %>

<section class="aktualnosci">

  <article class="well">
    <h2>Nowa edycja PSPI na rok akad. 2017/2018</h2>
    <p>Otwieramy nabór na kolejną edycję studiów, która rozpocznie się w <b>27 października 2017</b>.
    Rekrutacja odbywa się elektronicznie na stronie
    <a href="https://podyplomowi.irk.ug.edu.pl">Internetowej Rejestracji Kandydatów – studia podyplomowe</a>.
    <br>
    Zainteresowanych prosimy jednak o kontakt z sekretariatem PSPI.</p>
  </article>

  <article class="well">
    <h2>Planowany terminarz zajęć na rok akad. 2017/2018</h2>
    <p>Semestr II (P501-09):
    <ul>
      <li>23, 24, 25.02.2018
      <li> 9, 10, 11.03.2018
      <li> 6,  7,  8.04.2018
      <li>27, 28, 29.04.2018
      <li>18, 19, 20.05.2018
    </ul>

    <h2> Szczegółowy terminarz na rok akad. 2017/2018</h2>
    <p>Plany i daty zjazdów w semestrze:
    <ul>
      <li><%=link_to "letnim 2018", terminarz_09_path %> (edycja P501-09)
      <li><%=link_to "zimowym 2017/2018", terminarz_08_path %> (edycja P501-08)
    </ul>
  </article>

</section>
