<% provide(:title, 'Aktualności') %>

<section class="aktualnosci">

  <article class="well">
    <h2>Nowa edycja PSPI na rok akad. 2016/2017</h2>
    <p>Otwieramy nabór na kolejną edycję studiów, która rozpocznie się w <b>październiku 2016</b>.
    Rekrutacja odbywa się elektronicznie na stronie
    [Internetowej Rejestracji Kandydatów – studia podyplomowe](https://podyplomowi.irk.ug.edu.pl).
    <br>
    Zainteresowanych prosimy jednak o kontakt z sekretariatem PSPI.</p>
  </article>

<!--

  <article class="well">
    <h2>Planowany terminarz na rok akad. 2015/2016</h2>
    <p>Semestr III (P501-06):
    <ul>
      <li> 9, 10, 11.10.2015
      <li> 6,  7,  8.11.2015
      <li>20, 21, 21.11.2015
      <li>18, 19, 20.12.2015
      <li>29, 30, 31.01.2016
    </ul>

    <p>Semestr II (P501-07):
    <ul>
      <li> 4,  5,  6.03.2016
      <li>18, 19, 20.03.2016
      <li>15, 16, 17.04.2016
      <li>13, 14, 15.05.2016
      <li> 3,  4,  5.06.2016
    </ul>

    <h2> Szczegółowy terminarz na rok akad. 2015/2016</h2>
    <p>Plany i daty zjazdów w semestrze:
    <ul>

-->

<!--      <li><%=link_to "zimowym i letnim", terminarz_05_path %> (edycja P501-05) -->
      <li><%=link_to "zimowym 2015/2016", terminarz_06_path %> (edycja P501-06)
      <li><%=link_to "zimowym 2015/2016", terminarz_07_path %> (edycja P501-07)

    </ul>
  </article>

<!--

   <article class="well">
      <h2>Zaczynamy!</h2>
      <p>Rozpoczęcie nowej edycji P501-07 PSPI odbędzie się <b>13.11.2015</b>
      o godzinie 13:00 w budynku Wydziału Mat-Fiz-Inf,
      Uniwersytetu Gdańskiego, Wita Stwosza 57.
      <p>Prosimy o dostarczenie do sekretariatu PSPI niezbędnych dokumentów.
      Wpłaty czesnego należy dokonywać na indywidualne konto, którego numer
      każdy z uczestników otrzyma (otrzymał). Prosimy również o zachowanie
      i dostarczenie do sekretariatu kopii dowodu wpłaty.
    </article>

    <article class="well">
    <h2><b>15.06.2012</b> Zmiany w ramowym planie studiów</h2>
    <p>W czerwcu 2016 uległ zmianie <%=link_to "ramowy plan studiów", program_path %>.
    Rozwój technologii informatycznych wymusił wprowadzenie zmian
    w dotychczasowym programie.
  </article>

  <article class="well">
    <h2><b>15.06.2012</b> Zmiany w kadrze nauczycieli</h2>
    <p>W czerwcu zmieniło się kierownictwo i zmieniła dotychczasowa
    kadra nauczycieli.
  </article>
-->

</section>
