<% provide(:title, 'Aktualności') %>

<section class="aktualnosci">

  <article class="well">
    <h2>Nowa edycja PSPI na rok akad. 2016/2017</h2>
    <p>Otwieramy nabór na kolejną edycję studiów, która rozpocznie się w <b>październiku 2016</b>.
    Rekrutacja odbywa się elektronicznie na stronie
    <a href="https://podyplomowi.irk.ug.edu.pl">Internetowej Rejestracji Kandydatów – studia podyplomowe</a>.
    <br>
    Zainteresowanych prosimy jednak o kontakt z sekretariatem PSPI.</p>
  </article>

<!--

  <article class="well">
    <h2>Planowany terminarz na rok akad. 2015/2016</h2>
    <p>Semestr III (P501-06):
    <ul>
      <li> 9, 10, 11.10.2015
      <li> 6,  7,  8.11.2015
      <li>20, 21, 21.11.2015
      <li>18, 19, 20.12.2015
      <li>29, 30, 31.01.2016
    </ul>

    <p>Semestr II (P501-07):
    <ul>
      <li> 4,  5,  6.03.2016
      <li>18, 19, 20.03.2016
      <li>15, 16, 17.04.2016
      <li>13, 14, 15.05.2016
      <li> 3,  4,  5.06.2016
    </ul>

    <h2> Szczegółowy terminarz na rok akad. 2015/2016</h2>
    <p>Plany i daty zjazdów w semestrze:
    <ul>

      <li><%=link_to "zimowym i letnim", terminarz_05_path %> (edycja P501-05)
      <li><%=link_to "zimowym 2015/2016", terminarz_06_path %> (edycja P501-06)
      <li><%=link_to "zimowym 2015/2016", terminarz_07_path %> (edycja P501-07)

    </ul>
  </article>

-->

</section>
