<% provide(:title, 'Aktualności') %>

<section class="aktualnosci">

  <article class="well">
    <h2><b>16.06.2012</b> Nowa edycja PSPI</h2>
    <p>Rozpoczynamy nabór na pierwsze wydanie nowej edycji PSPI.
    Edycję planujemy uruchomić w październiku 2012 pod warunkiem
    skompletowania odpowiedniej liczby kandydatów.
  </article>

  <article class="well">
    <h2><b>15.06.2012</b> Zmiany w ramowym planie studiów</h2>
    <p>W czerwcu 2012 uległ zmianie ramowy plan studiów
    (<%=link_to "link", program_path %>).
    Rozwój technologii informatycznych wymusił wprowadzenie zmian
    w dotychczasowym programie studiów.
  </article>

  <article class="well">
    <h2><b>15.06.2012</b> Zmiany w kadrze nauczycieli</h2>
    <p>W czerwcu zmieniło się kierownictwo i zmieniła dotychczasowa
    kadra nauczycieli.
  </article>

</section>
