<% provide(:title, 'Aktualności') %>

<section class="aktualnosci">

  <article class="well">
    <h2><b>10.10.2012</b> Zaczynamy!</h2>
    <p>Rozpoczęcie nowej edycji PSPI odbędzie się 26.10.2012
    o godzinie 13:00 na Wydziale MFI Uniwersytetu Gdańskiego.
    Prosimy o dostarczenie do sekretariatu PSPI niezbędnych dokumentów.
    Wpłaty czesnego należy dokonywać na indywidualne konto, którego numer
    każdy z uczestników otrzyma (otrzymał). Prosimy również o zachowanie
    i dostarczenie do sekretariatu kopii dowodu wpłaty.
    <p>Aktualne terminy zjazdów w semestrze zimowym 2012/2013
    są <%=link_to "tutaj", terminarz_path %>.
  </article>

  <article class="well">
    <h2><b>16.06.2012</b> Nowa edycja PSPI</h2>
    <p>Rozpoczynamy nabór na pierwsze wydanie nowej edycji PSPI.
    Edycję planujemy uruchomić w październiku 2012 pod warunkiem
    skompletowania odpowiedniej liczby kandydatów.
  </article>

  <article class="well">
    <h2><b>15.06.2012</b> Zmiany w ramowym planie studiów</h2>
    <p>W czerwcu 2012 uległ zmianie <%=link_to "ramowy plan studiów", program_path %>.
    Rozwój technologii informatycznych wymusił wprowadzenie zmian
    w dotychczasowym programie.
  </article>

  <article class="well">
    <h2><b>15.06.2012</b> Zmiany w kadrze nauczycieli</h2>
    <p>W czerwcu zmieniło się kierownictwo i zmieniła dotychczasowa
    kadra nauczycieli.
  </article>

</section>
