<% provide(:title, 'Podstawowe informacje') %>

<section class="program">
<article class="well">

<h1>Podstawowe informacje</h1>

<p>Kolejne edycje PSPI rozpoczynają sią zwykle w październiku i lutym
każdego roku pod warunkiem skompletowania 18 studentów.

<p>Odpłatność za semestr edycji rozpoczynającej się w październiku
2014 wynosi <i>2100PLN</i>. Obowiązuje kolejność zgłoszeń w Internetowej Rejestracji Kandydatów UG.


<h2>Uprawnienia do nauczania drugiego przedmiotu</h2>

<p>PSPI spełniają wymagania Rozporządzenia Ministra Nauki
i Szkolnictwa Wyższego z dn. 2 listopada 2011 w sprawie Krajowych Ram
Kwalifikacji dla Szkolnictwa Wyższego, Rozporządzenia Ministra Nauki
i Szkolnictwa Wyższego z dn. 17 stycznie 2012 w sprawie standardów
kształcenia przygotowującego do wykonywania zawodu nauczyciela.

<p>Słuchacze posiadający uprawnienia nauczycielskie, wybierając profil
nauczycielski studiów podyplomowych, mogą uzyskać uprawnienia do
nauczania drugiego przedmiotu: „Uprawnienia do nauczania Informatyki i Technologii Informacyjnych”.


<h2>Jednostka prowadząca studia podyplomowe</h2>

<p>Wydział Matematyki Fizyki i Informatyki: Instytut Fizyki
Doświadczalnej, Instytut Informatyki, Instytut Fizyki Teoretycznej
i Astrofizyki.


<h2>Zakończenie studiów podyplomowych</h2>

<p>Na podstawie ocen z egzaminów z przedmiotów: „Wstęp do
programowania”, „Algorytmy i struktury danych”,
„Języki programowania” i „Bazy danych”.

<p>W przypadku wybrania profilu nauczycielskiego dodatkowo
na podstawie zaliczenia praktyki szkolnej.


<h2>Profil absolwenta</h2>

<p>Absolwent posiada wiedzę ogólną o działaniu i obsłudze systemów
operacyjnych Windows (w tym wiersz poleceń) i Linux. Umie gromadzić
przetwarzać i wykorzystywać wiedzę w zakresie systemów baz danych,
programowania w językach wysokiego poziomu (C/C++) oraz modelowania
matematycznego przy wykorzystaniu dostępnych pakietów
oprogramowania. Zna podstawy budowy i działania sieci komputerowych
oraz umie wykorzystywać elementy współczesnych technologii
internetowych. Zna terminologię z zakresu informatyki. Posiada
umiejętność samodzielnego rozwiązywania problemów.


<h2>Czas trwania studiów</h2>

<p>Podyplomowe Studia Podstaw Informatyki trwają 360 godz.
w 3 semestrach. W każdym semestrze jest 5 zjazdów po 24 godziny
(piątek 13–20, sobota i niedziela 8–15). W profilu nauczycielskim
dodatkowo 60 godz. (razem 420 godz.) indywidualnej praktyki w szkole.


<h2>Uzyskiwana liczba punktów ECTS</h2>

<p>Podyplomowe Studia Podstaw Informatyki zakładają uzyskanie 60 punktów
ECTS, obejmujących zajęcia dydaktyczne z bezpośrednim udziałem
nauczycieli akademickich i słuchaczy studiów (zajęcia dydaktyczne,
egzaminy z przedmiotów i modułów wchodzących w skład programu
kształcenia, praktyki zawodowe, konsultacje z nauczycielami
akademickimi) oraz pracę własną studenta (w tym projekty realizowane
przez studenta w trakcie studiów).

<p>W przypadku wybrania przez studenta profilu nauczycielskiego uzyskuje
się 65 punktów ECTS.


<h2>Wymagania wstępne kandydata</h2>

<p>Kandydat na Podyplomowe Studia Podstaw Informatyki to
osoba posiadająca dyplom ukończenia studiów wyższych, magisterskich
lub licencjackich (minimum kwalifikacje pierwszego stopnia).
Szczególnie wskazane jest ukończenie studiów o profilu
matematyczno-przyrodniczym lub technicznym.

<p>Osoby posiadające uprawnienia nauczycielskie mogą uzyskać
uprawnienia do nauczania drugiego przedmiotu (prowadzenia zajęć) pod
warunkiem wybrania bloku zajęć z zakresu dydaktyki informatyki
i odbycia 60 godzinnej praktyki w szkole.


<h2>Forma zajęć</h2>

<p>Kurs należy do grupy niestacjonarnych studiów podyplomowych dla
absolwentów studiów magisterskich lub licencjackich. Zajęcia
prowadzone są w postaci: wykładów (tradycyjny wykład uniwersytecki),
ćwiczeń audytoryjnych oraz — przede wszystkim — ćwiczeń
laboratoryjnych w pracowniach komputerowych.

<!--
<p>Na zakończenie kursu studenci biorą udział w seminarium dyplomowym,
związanym z przygotowaniem pracy dyplomowej w formie niewielkiego
projektu informatycznego. Ciekawsze prace mogą zostać opublikowane za
pośrednictwem Internetu.
</!-->

<h2>Kierownik PSPI</h2>

<p>dr inż. Janusz J. Młodzianowski, e-mail: pspi@ug.edu.pl, tel. 58 523 2282</p>


<h2>Kadra</h2>

<ul>
  <li><a href="http://panda.bg.univ.gda.pl/~janusz">dr inż. Janusz Młodzianowski</a>
  <li>dr inż. Jerzy Skurczyński
  <li>dr Paweł Pączkowski
  <li><a href="http://tao.inf.ug.edu.pl">dr Włodzimierz Bzyl</a>
  <li>dr hab. Wiesław Miklaszewski prof. UG
  <li>dr hab. Piotr Gnaciński</li>
  <li>dr Robert Fidytek
  <li>dr Tomasz Dzido
</ul>

</article>
</section>
