<% provide(:title, 'Podstawowe informacje') %>

<section class="program">
<article class="well">

<h1>Podstawowe informacje</h1>

<p>Kolejne edycje PSPI rozpoczynają sią zwykle w październiku i lutym
każdego roku pod warunkiem skompletowania 25 studentów.

<p>Odpłatność za semestr: <i>1800PLN</i>.

<h2>Uprawnienia do nauczania drugiego przedmiotu</h2>

<p>PSPI spełniają wymagania Rozporządzenia Ministra Nauki i Szkolnictwa
Wyższego ... z dn 17 stycznia 2012 [jak w sekcji sposob wykorzystania
wzorcow].

<p>Osoby posiadające uprawnienia nauczycielskie, po ukończeniu
PSPI i odbyciu 60 godzin praktyki zawodowej w szkole uzyskują
uprawnienia do nauczania drugiego przedmiotu Informatyka.

<h2>TODO: W zasadzie mozna zacytowac poszczegolne sekcje z pliku senat1.rtf</h2>

<p>jednostka prowadzaca..
okreslenie formy zakonczenia..
uzyskiwane uprawnienia..
profil absolwenta..
czas trwania..
liczba punktow ECTS..
wymagania wstepne..
sposob prowadzenia zajec..


</article>
</section>
