<% provide(:title, 'Materiały pomocnicze do zajęć') %>

<section class="program">
<article class="well">

<h1>Materiały pomocnicze do zajęć</h1>

<h2>Systemy Operacyjne (dr J. Młodzianowski)</h2>

<ol>
  <li><%= link_to "Systemy Operacyjne DOS - Windows - UNIX (konspekt)", "/docs/fizjm/konspekt-so.pdf" %>.
  <li><%= link_to "Przykładowe pytania zaliczeniowe z Systemów Operacyjnych", "/docs/fizjm/pytania-so.txt" %>.
</ol>

<h2>Algorytmy i struktury danych (dr P. Pączkowski)</h2>

<ol>
  <li><%= link_to "Wykłady i ćwiczenia", "https://inf.ug.edu.pl/~pmp/Z/PSPI/" %>.
</ol>

</article>
</section>
