<% provide(:title, 'Terminarz edycja P501-06, 2014/2015') %>

<section class="program">
<article class="well">
<h1>Edycja P501-06, 2014/2015</h1>

<h2>Semestr II (letni 2015)</h2>
<p class="terminarz">

<b>Zjazd I</b>

13.03.2015 (piątek):
  godz. 13.15–16.15, Języki programowania, sala 301
  godz. 16.45–18.15, Technologie internetowe, sala 210
  godz. 18.30-20.00 Komputerowe wspomaganie nauczania przedmiotów ścisłych i przyrodniczych, aud. 1
14.03.2015 (sobota):
  godz. 8.15–15.00, Języki programowania, sala 301
15.03.2015 (niedziela):
  godz. 8.15–11.30 Technologie internetowe, sala 201
  godz. 11.45-15.00, Komputerowe wspomaganie.., sala 137

<b>Zjazd II</b>
10.04.2015 (piątek):
  godz. 13.15–16.15, Języki programowania, sala 301
  godz. 16.45–18.15, Technologie internetowe, sala 210
  godz. 18.30-20.00 Komputerowe wspomaganie nauczania przedmiotów ścisłych i przyrodniczych, aud. 1
11.04.2015 (sobota):
  godz. 8.15–15.00, Języki programowania, sala 301
12.04.2015 (niedziela):
  godz. 8.15–11.30 Technologie internetowe, sala 201
  godz. 11.45-15.00, Komputerowe wspomaganie.., sala 137

<b>Zjazd III</b>
24.04.2015 (piątek):
  godz. 13.15–16.15, Języki programowania, sala 301
  godz. 16.45–18.15, Technologie internetowe, sala 210
  godz. 18.30-20.00 Komputerowe wspomaganie nauczania przedmiotów ścisłych i przyrodniczych, aud. 1
25.04.2015 (sobota):
  godz. 8.15–15.00, Języki programowania, sala 301
26.04.2015 (niedziela):
  godz. 8.15–11.30 Technologie internetowe, sala 201
  godz. 11.45-15.00, Komputerowe wspomaganie.., sala 137

<b>Zjazd IV</b>
15.05.2015 (piątek):
  godz. 13.15–16.15, Języki programowania, sala 301
  godz. 16.45–18.15, Technologie internetowe, sala 210
  godz. 18.30-20.00 Komputerowe wspomaganie nauczania przedmiotów ścisłych i przyrodniczych, aud. 1
16.05.2015 (sobota):
  godz. 8.15–15.00, Języki programowania, sala 301
17.05.2015 (niedziela):
  godz. 8.15–11.30 Technologie internetowe, sala 201
  godz. 11.45-15.00, Komputerowe wspomaganie.., sala 137

<b>Zjazd V</b>
5.06.2015 (piątek):
  godz. 13.15–16.15, Języki programowania, sala 301
  godz. 16.45–18.15, Technologie internetowe, sala 210
  godz. 18.30-20.00 Komputerowe wspomaganie nauczania przedmiotów ścisłych i przyrodniczych, aud. 1
6.06.2015 (sobota):
  godz. 8.15–15.00, Języki programowania, sala 301
7.06.2015 (niedziela):
  godz. 8.15–11.30 Technologie internetowe, sala 201
  godz. 11.45-15.00, Komputerowe wspomaganie.., sala 137

Zakończenie przedmiotów:
Języki programowania (30w+30ćw) – egzamin,
Technologie internetowe (10w+20ćw) – zaliczenie,
Komputerowe wspomaganie..(10w+20ćw) – zaliczenie.
</p>

<h2>Semestr I (zimowy 2014/2015)</h2>
<p class="terminarz">

<b>Zjazd I</b>

17.10.2014 (piątek):
  godz. 13.00–13.30, Rozpoczęcie semestru, sprawy organizacyjne, sala 4
  godz. 13.30–20.00, Wstęp do programowania, sala 301
18.10.2014 (sobota):
  godz. 8.15–15.00, Systemy Operacyjne, sala 301
19.10.2014 (niedziela):
  godz. 8.15–13.15 Algorytmy i struktury danych, sala 301
  godz. 13.30-15.00, Systemy Operacyjne, sala 301

<b>Zjazd II</b>

7.11.2014 (piątek):
  godz. 13.00–20.00, Wstęp do programowania, sala 301
8.11.2014 (sobota):
  godz. 8.15–15.00, Systemy Operacyjne, sala 301
9.11.2014 (niedziela):
  godz. 8.15–13.15, Algorytmy i struktury danych, sala 301
  godz. 13.30-15.00, Systemy Operacyjne, sala 301

<b>Zjazd III</b>

21.11.2014 (piątek):
  godz. 13.00–20.00, Wstęp do programowania, sala 301
22.11.2014 (sobota):
  godz. 8.15–15.00, Wstęp do programowania, sala 301
23.11.2014 (niedziela):
  godz. 8.15–13.15, Algorytmy i struktury danych, sala 301
  godz. 13.30-15.00, Systemy Operacyjne, sala 301

<b>Zjazd IV</b>

12.12.2014 (piątek):
  godz. 13.00–20.00, Wstęp do programowania, sala 301
13.12.2014 (sobota):
  godz. 8.15–15.00, Systemy Operacyjne, sala 301
14.12.2014 (niedziela):
  godz. 8.15–13.15, Algorytmy i struktury danych, sala 301
  godz. 13.30-15.00, Systemy Operacyjne, sala 301

<b>Zjazd V</b>

9.01.2015 (piątek):
  godz. 13.00–20.00, Wstęp do programowania, sala 301
10.01.2015 (sobota):
  godz. 8.15–13.15, Systemy Operacyjne, sala 301
  godz. 13.30-15.00, Wstęp do programowania-EGZAMIN, sala 301
11.01.2015 (niedziela):
  godz. 8.15–13.15, Algorytmy i struktury danych, sala 301
  godz. 13.30-15.00, Systemy Operacyjne, sala 301

Zakończenie przedmiotów:
Systemy Operacyjne (10w+30ćw) – zaliczenie,
Wstęp do programowania (20w+30ćw) – egzamin,
Algorytmy i struktury danych (15w+15ćw) – egzamin.
</p>

</article>
</section>
