<% provide(:title, 'Terminarz') %>

<section class="program">
<article class="well">

<h1>Terminarz</h1>

<!--
<p>W semestrze planowanych jest 5 zjazdów.
Każdy zjazd to 24 godziny zajęć. Zajęcia odbywają się w piątki
(w godz. 13–20) oraz soboty i niedziele (w godz. 8–15).</p>
-->

<p><b>Zjazd I</b>:<br>
26.10.2012, godz. 13.00–20.00<br>
27.10.2012, godz. 8.15–15.00<br>
28.10.2012, godz. 8.15–15.00

<p><b>Zjazd II:</b><br>
16.11.2012,
17.11.2012,
18.11.2012

<p><b>Zjazd III:</b><br>
7.12.2012,
8.12.2012,
9.12.2012

<p><b>Zjazd IV:</b><br>
11.01.2013,
12.01.2013,
13.01.2013

<p><b>Zjazd V:</b><br>
25.01.2013,
26.01.2013,
27.01.2013

</article>
</section>
