<% provide(:title, 'Terminarz') %>

<section class="program">
<article class="well">

<h1>Edycja P501-04, 2014/2015</h1>

<h2>Semestr III (zimowy)</h2>

<div class="terminarz">
<b>Zjazd I</b>

11.10.2013: 13–20
      Bazy Danych (8 godz.)
12.10.2013: 8–15
      Bazy danych (2 godz.)
      Sieci Komputerowe (2 w)
      Pracownia Dydaktyki Informatyki (4 godz.)
13.10.2013: 8–15
      Sieci komputerowe (2 w)
      Komputer w laboratorium (6 w)

<b>Zjazd II</b>

25.10.2013: 13–20
      Bazy Danych (8 godz.)
26.10.2013: 9–16
      Sieci komputerowe (2 w)
      Pracownia Dydaktyki Informatyki (4 godz.)
      Bazy Danych (2 godz.)
27.10.2013: 8–15
      Sieci komputerowe (2 w)
      Komputer w laboratorium (4 w, 2 ćw)

<b>Zjazd III</b>

22.11.2013: 13–20
      Bazy Danych (8 godz.)
23.11.2013: 9–16
      Sieci komputerowe (2 w)
      Pracownia Dydaktyki Informatyki (4 godz.)
      Bazy Danych (2 godz.)
24.11.2013: 8–15
      Sieci komputerowe (2 ćw)
      Komputer w laboratorium (6 ćw)

<b>Zjazd IV</b>

13.12.2013: 13–20
      Bazy Danych (8 godz.)
14.12.2013: 9–16
      Sieci komputerowe (2 ćw)
      Pracownia Dydaktyki Informatyki (4 godz.)
      Bazy Danych (2 godz.)
15.12.2013: 8–15
      Sieci komputerowe (2 ćw)
      Komputer w laboratorium (6 ćw)

<b>Zjazd V</b>

10.01.2014: 13–20
      Bazy Danych (8 godz.)
11.01.2014: 9–16
      Sieci komputerowe (2 ćw)
      Pracownia Dydaktyki Informatyki (4 godz.)
      Bazy Danych (2 godz.)
12.01.2014: 8–15
      Sieci komputerowe (2 ćw)
      Komputer w laboratorium (6 ćw)
</p>

<p>Dokładne godziny zajęć do ustalenia z prowadzącymi.</p>

<p> </p>

</div>

</article>
</section>
