<% provide(:title, 'Terminarz') %>

<section class="program">
<article class="well">

<h1>Terminarz</h1>

<p>W semestrze planowanych jest 5 zjazdów.
Każdy zjazd to 24 godziny zajęć. Zajęcia odbywają się w piątki
(w godz. 13–20) oraz soboty i niedziele (w godz. 8–15).</p>

</article>
</section>
