<% provide(:title, 'Terminarz') %>

<section class="program">
<article class="well">

<h1>Terminarz na semestr letni</h1>

<p class="terminarz">
1.03:  13–20, 8 godz. Technologie internetowe s.137
2.03:    8–15, 8 godz. Języki programowania s.301
3.03:    8–15, 8 godz. Technologie internetowe s.137

22.03: 13–20, 8 godz. Języki programowania s.301
23.03:   8–15, 8 godz. Języki programowania s.301
24.03:   8–15, 8 godz. Komputerowe wspomaganie… s.137

12.04: 13–20, 8 godz. Języki programowania s.301
13.04:   8–13, 5 godz. Technologie internetowe s.137
           13–15, 3 godz. Języki programowania s.301
14.04:   8–15, 8 godz. Komputerowe wspomaganie… s.137

10.05: 13–17.30, 5 godz. Języki programowania s.301
          17.30-20, 3 godz. Technologie internetowe s.137

11.05:   8–15, 8 godz. Języki programowania s.301
12.05:   8–15, 8 godz. Komputerowe wspomaganie… s.137

7.06:  13–18, 6 godz. Technologie internetowe s.137
          18–20, 2 godz. Komputerowe wspomaganie… s.137
8.06:    8–15, 8 godz. Języki programowania s.301
9.06:    8–12, 4 godz. Języki programowania s.301
          12–15, 4 godz. Komputerowe wspomaganie… s.137
</p>

<p> </p>

<h1>Terminarz na semestr zimowy</h1>

<!--
<p>W semestrze planowanych jest 5 zjazdów.
Każdy zjazd to 24 godziny zajęć. Zajęcia odbywają się w piątki
(w godz. 13–20) oraz soboty i niedziele (w godz. 8–15).</p>
-->

<p><b>Zjazd I</b>:<br>
26.10.2012 (piątek):<br>
godz. 13.00–13.30, Rozpoczęcie semestru, sprawy organizacyjne, sala 4<br>
godz. 13.30–20.00, Wstęp do programowania, sala 301<br>
27.10.2012 (sobota):<br>
godz. 8.30–10.00, Wstęp do programowania, sala 301<br>
godz. 10.15–15.00, Algorytmy i struktury danych, sala 301<br>
28.10.2012 (niedziela):<br>
godz. 8.15–15.00, Systemy Operacyjne, sala 301<br>

<p><b>Zjazd II</b>:<br>
16.11.2012 (piątek):<br>
godz. 13.00–20.00, Wstęp do programowania, sala 301<br>
17.11.2012 (sobota):<br>
godz. 8.30–10.00, Wstęp do programowania, sala 301<br>
godz. 10.15–15.00, Algorytmy i struktury danych, sala 301<br>
18.11.2012 (niedziela):<br>
godz. 8.15–15.00, Systemy Operacyjne, sala 301

<p><b>Zjazd III</b>:
7.12.2012 (piątek):<br>
godz. 13.00–20.00, Wstęp do programowania, sala 301<br>
8.12.2012 (sobota):<br>
godz. 8.30–10.00, Wstęp do programowania, sala 301<br>
godz. 10.15–15.00, Algorytmy i struktury danych, sala 301<br>
9.12.2012 (niedziela):<br>
godz. 8.15–15.00, Systemy Operacyjne, sala 301

<p><b>Zjazd IV</b>:
11.01.2013 (piątek):<br>
godz. 13.00–20.00, Wstęp do programowania, sala 301<br>
12.01.2013 (sobota):<br>
godz. 8.30–10.00, Wstęp do programowania, sala 301<br>
godz. 10.15–15.00, Algorytmy i struktury danych, sala 301<br>
13.01.2013 (niedziela):<br>
godz. 8.15–15.00, Systemy Operacyjne, sala 301

<p><b>Zjazd V</b>:
25.01.2013 (piątek):<br>
godz. 13.00–20.00, Wstęp do programowania, sala 301<br>
26.01.2013 (sobota):<br>
godz. 8.30–10.00, Wstęp do programowania, sala 301<br>
godz. 10.15–15.00, Algorytmy i struktury danych, sala 301<br>
27.01.2013 (niedziela):<br>
godz. 8.15–15.00, Systemy Operacyjne, sala 301

<p>Zakończenie przedmiotów:
Systemy Operacyjne – zaliczenie,
Wstęp do programowania – egzamin,
Algorytmy i struktury danych – egzamin.

<p>Dokładne terminy zaliczeń i egzaminów zostaną ustalone
z prowadzącymi zajęcia.

</article>
</section>
