<% provide(:title, 'Terminarz edycja P501-05, 2013/2014') %>

<section class="program">
<article class="well">

<h1>Edycja P501-05, 2013/2014</h1>

<h2>Semestr I (zimowy 2013/2014)</h2>

<p class="terminarz">
<b>Zjazd I</b>

18.10.2013: 13–20
      Wstęp do programowania (8 godz.)
19.10.2013: 8–15
      Algrytmy i struktury danych (4 godz.)
      Systemy operacyjne (4 godz.)
20.10.2013: 8–15
      Systemy operacyjne (4 godz.)

<b>Zjazd II</b>

8.11.2013: 13–20
      Wstęp do programowania (4 godz.)
9.11.2013: 8-15
      Agorytmy i struktury danych (4 godz.)
      Systemy operacyjne (4 godz.)
10.10.2013: 8–15
      Systemy operacyjne (4 godz.)

<b>Zjazd III</b>

29.11.2013: 13–20
      Wstęp do programowania (8 godz.)
30.11.2013: 8–15
      Algorytmy i struktury danych (8 godz.)
1.12.2013: 8–15
      Algorytmy i struktury danych (2 godz.)
      Systemy operacyjne (6 godz.)


<b>Zjazd IV</b>

20.12.2013: 13–20
      Wstęp do programowania (8 godz.)
21.12.2013: 8–15
      Wstęp do programowania (8 godz.)
22.12.2013: 8–15
      Algorytmy i struktury danych (4 godz.)
      Systemy operacyjne (4 godz.)

<b>Zjazd V</b>

17.01.2014: 13–20
      Wstęp do programowania (8 godz.)
18.01.2014: 8–15
      Wstęp do programowania (2 godz.)
      Algorytmy i struktury danych (6 godz.)
19.01.2014: 8–15
      Systemy operacyjne (6 godz.)
      Algorytmy i struktury danych (2 godz.)
</p>

<p>Dokładne godziny zajęć do ustalenia z prowadzącymi.</p>

<p> </p>

<p>Zakończenie przedmiotów:
Systemy operacyjne – zaliczenie,
Wstęp do programowania – egzamin,
Algorytmy i struktury danych – egzamin.


</article>
</section>

    Status
    API
    Training
    Shop
    Blog
    About

    © 2013 GitHub, Inc.
    Terms
    Priva
