<% provide(:title, 'Terminarz') %>

<section class="program">
<article class="well">

<h1>Terminarz</h1>

<p>Plan zajęć. Semestr I. Jesień 2012.

<p>Zajęcia piątek (zajęcia po południu, od...), sobota, niedziela.

</article>
</section>
