<% provide(:title, 'Terminarz edycja P501-07, 2015/2016') %>

<section class="program">
<article class="well">
<h1>Edycja P501-07, 2015/2016</h1>

<h2>Semestr I (zimowy 2015/2016)</h2>
<p class="terminarz">

<b>Zjazd I</b>

13.11.2015 (piątek):
  godz. 13.00–13.30, Rozpoczęcie semestru, sprawy organizacyjne, sala ??
  godz. 13.30–20.00, Wstęp do programowania, sala 301
14.11.2015 (sobota):
  godz. 8.15–13.15 Algorytmy i struktury danych, sala 301
  godz. 13.30-15.00, Systemy Operacyjne, sala 301
15.11.2015 (niedziela):
  godz. 8.15–15.00, Systemy Operacyjne, sala 301

<b>Zjazd II</b>

4.12.2015 (piątek):
  godz. 13.00–20.00, Wstęp do programowania, sala 301
5.12.2015 (sobota):
  godz. 8.15–13.15, Algorytmy i struktury danych, sala 301
  godz. 13.30-15.00, Systemy Operacyjne, sala 301
6.12.2015 (niedziela):
  godz. 8.15–15.00, Wstęp do programowania, sala 301

<b>Zjazd III</b>

8.01.2016 (piątek):
  godz. 13.00–20.00, Wstęp do programowania, sala 301
9.01.2016 (sobota):
  godz. 8.15–13.15, Algorytmy i struktury danych, sala 301
  godz. 13.30-15.00, Systemy Operacyjne, sala 301
10.01.2016 (niedziela):
  godz. 8.15–15.00, Systemy Operacyjne, sala 301

<b>Zjazd IV</b>

22.01.2016 (piątek):
  godz. 13.00–20.00, Wstęp do programowania, sala 301
23.01.2016 (sobota):
  godz. 8.15–13.15, Algorytmy i struktury danych, sala 301
  godz. 13.30-15.00, Systemy Operacyjne, sala 301
24.01.2016 (niedziela):
  godz. 8.15–15.00, Systemy Operacyjne, sala 301

<b>Zjazd V</b>

5.02.2016 (piątek):
  godz. 13.00–20.00, Wstęp do programowania, sala 301
6.02.2016 (sobota):
  godz. 8.15–13.15, Systemy Operacyjne, sala 301
  godz. 13.30-15.00, Wstęp do programowania-EGZAMIN, sala 301
7.02.2016 (niedziela):
  godz. 8.15–13.15, Algorytmy i struktury danych, sala 301
  godz. 13.30-15.00, Systemy Operacyjne, sala 301

Zakończenie przedmiotów:
Systemy Operacyjne (10w+30ćw) – zaliczenie,
Wstęp do programowania (20w+30ćw) – egzamin,
Algorytmy i struktury danych (15w+15ćw) – egzamin.
</p>

</article>
</section>
