<% provide(:title, 'Jak się zapisać?') %>

<section class="program">
<article class="well">

<h1>Jak się zapisać?</h1>

<!--
<p>sekcja "zasady rekrutacji" (z pliku senat1.rtf)
+ informacje adresowe (zmienimy) z oryginalnej strony
Tu trzeba dac odnosnik do (lub skopiowac zawartosc):
www.ug.edu.pl/pl/info_dla_podyp/?tpl=dokumenty
w szczegolnosci: podanie, kwestionariusz i regulamin
Odplatnosc: 1800PLN za semestr
-->

</article>
</section>
