<% provide(:title, 'Jak się zapisać?') %>

<section class="program">
<article class="well">

<h1>Jak się zapisać?</h1>

Kandydatów na stacjonarne Podyplomowe Studia Podstaw Informatyki obowiązuje
<a href="http://arch.ug.edu.pl/pl/studia_podyplomowe/upload/files/95/regulamin_2012_.pdf">Regulamin Studiów Podyplomowych
w Uniwersytecie Gdańskim</a>.
Rekrutacja odbywa się w systemie Internetowej Rejestracji Kandydatów.
Kandydat rejestruje się elektronicznie na
<a href="https://podyplomowi.irk.ug.edu.pl">stronie internetowej</a>
zgodnie z
<a href="http://arch.ug.edu.pl/pl/studia_podyplomowe/upload/files/95/zal3r-opis_procedur_w_irk.pdf">instrukcją</a>.

Mimo to zainteresowanych prosimy o kontakt telefoniczny bądź mailowy z
sekretariatem PSPI. Przy naborze obowiązuje kolejność zgłoszeń. Po zebraniu
odpowiedniej liczby kandydatów i ogłoszeniu listy przyjętych, zainteresowani
zostaną poinformowani o konieczności złożenia dokumentów i o terminie pierwszego
zjazdu.

Kandydat jest zobowiązany do złożenia następujących dokumentów:
<ol>
  <li>własnoręcznie podpisany formularz podania o przyjęcie na studia, wygenerowany i wydrukowany z systemu IRK,
  <li>zdjęcia legitymacyjnego,
  <li>odpisu dyplomu ukończenia studiów wyższych lub poświadczoną kserokopię dyplomu.
</ol>

Uczelnia pobiera opłaty za wydanie dokumentu stwierdzajacego ukończenie studiów podyplomowych (30 zł)
i jego duplikatu (opłata o połowę wyższa niż za wydanie oryginału, zgodnie z paragrafem 21 ust. 2 pkt 5 i ust. 3 Rozporządzenia Ministra
Nauki i Szkolnictwa Wyższego z dnia 14 września 2011 r. w sprawie dokumentacji przebiegu studiów – Dz.U. 2011 nr 201 poz. 1188).

<h2>Płatności</h2>
Słuchacz PSPI po rejestracji w Uniwersyteckim Systemie Obsługi Studentów FAST otrzymuje dostęp do <a href="http://ps.ug.edu.pl">Portalu Studenta</a>
oraz indywidualny numer konta, na który należy dokonywać opłat czesnego.

<p>Ze względów organizacyjnych prosimy słuchaczy o każdorazowe potwierdzanie wpłat przez przekazanie do Sekrateriatu PSPI kserokopii
kopii dowodu wpłaty.

<h2>Załączniki</h2>
<ol>
  <li><a href="http://arch.ug.edu.pl/pl/studia_podyplomowe/upload/files/95/regulamin_2012_.pdf">Regulamin Studiów Podyplomowych w Uniwersytecie Gdańskim</a>
  <li><a href="http://arch.ug.edu.pl/pl/studia_podyplomowe/upload/files/95/zal3r-opis_procedur_w_irk.pdf">Procedura rekrutacji w Internetowej Rejestracji Kandydatów (IRK) na Studia Podyplomowe w Uniwersytecie Gdańskim</a>
</ol>

</article>
</section>
