<% provide(:title, 'Jak się zapisać?') %>

<section class="program">
<article class="well">

<h1>Jak się zapisać?</h1>

Kandydatów na stacjonarne Podyplomowe Studia Podstaw Informatyki
obowiązuje, zgodnie z regulaminem Studiów Podyplomowych
w Uniwersytecie Gdańskim:

<ol>
  <li>złożenie podania o przyjęcie na studia,
  <li>złożenie kwestionariusza osobowego,
  <li>złożenie zdjęcia legitymacyjnego,
  <li>złożenie odpisu dyplomu ukończenia studiów wyższych lub
    poświadczonej kserokopii dyplomu.
</ol>

Obowiązuje kolejność zgłoszeń.

Zainteresowani proszeni są o kontakt telefoniczny z sekretariatem PSPI.
Po zebraniu odpowiedniej liczby osób, kandydaci zostana listownie
poinformowani o konieczności złożenia dokumentów i terminie pierwszego
zjazdu.

Uczelnia pobiera opłaty za wydanie dokumentu stwierdzajacego
ukończenie studiów podyplomowych – 30 zł i jego duplikatu opłata
o połowę wyższa niż za wydanie oryginału
(zgodnie z paragrafem 21 ust. 2 pkt 5 i ust. 3 Rozporządzenia Ministra
Nauki i Szkolnictwa Wyższego z dnia 14 września 2011 r. w sprawie
dokumentacji przebiegu studiów – Dz.U. 2011 nr 201 poz. 1188).


<h2>Dokumenty</h2>

<ol>
  <li><%= link_to "Podanie o przyjęcie.", "/dokumenty/podanie.pdf" %>
  <li><%= link_to "Kwestionariusz osobowy.", "/dokumenty/kwestionariusz.pdf" %>
  <li><a href="http://www.ug.edu.pl/pl/info_dla_podyp/?tpl=dokumenty">Regulamin Studiów Podyplomowych w UG.</a>
</ol>


<h2>Płatności</h2>

Słuchacz PSPI po rejestracji w Uniwersyteckim Systemie Obsługi
Studentów FAST otrzymuje dostęp do
<a href="http://ps.ug.edu.pl">Portalu Studenta</a>
oraz indywidualny numer konta, na który należy
dokonywać wpłat czesnego.

<p>Ze względów organizacyjnych prosimy słuchaczy o każdorazowe
potwierdzanie wpłat przez przekazanie do Sekrateriatu PSPI kserokopii
dowodu wpłaty.

</article>
</section>
